<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.agr.terras.corelibrary">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        android:protectionLevel="signature" />

    <application android:allowBackup="true">

        <activity
            android:name=".infraestructure.database.SqliteBrowser"
            android:theme="@style/Theme.AppCompat.Light" />

        <activity
            android:name=".infraestructure.resources.info.SobreActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden">

        </activity>

        <activity
            android:name=".infraestructure.resources.info.TourPage"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden">

        </activity>

        <activity
            android:name=".infraestructure.resources.layout.DrawerActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden">

        </activity>


    </application>

</manifest>
